<br>
<h1>内藤ポータル</h1>
<p>日常業務を楽にする</p>

<%= link_to  "新規登録", new_user_path, class:'' %>
<br>
<%= link_to  "ログイン", login_path, class:'' %>
<br>
<%= link_to "ログアウト", logout_path, method: :delete  %>
<br>                
<br>                
<%= link_to  "資料のダウンロード", new_list_path, class:'' %>
<br>
<%= link_to  "伝達事項", new_post_path, class:'' %>


  





